# Pandas - DataFrame

Multi-Index and Index Hierarchy

In [29]:
import pandas as pd
import numpy as np

In [30]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [31]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [32]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [34]:
df = pd.DataFrame(randn(6,2),index=hier_index,columns=['A','B'])
df #Making dataframe

             A         B
G1 1 -0.134841  0.390528
   2  0.166905  0.184502
   3  0.807706  0.072960
G2 1  0.638787  0.329646
   2 -0.497104 -0.754070
   3 -0.943406  0.484752

In [35]:
df.loc['G1'] #Row selecting 'G1'

          A         B
1 -0.134841  0.390528
2  0.166905  0.184502
3  0.807706  0.072960

In [36]:
df.loc['G1'].loc[1] #Row selecting 1

A   -0.134841
B    0.390528
Name: 1, dtype: float64

In [37]:
df.index.names #our index still have no name

FrozenList([None, None])

In [41]:
df.index.names = ['Groups','Num']

In [42]:
df

                   A         B
Groups Num
G1     1   -0.134841  0.390528
       2    0.166905  0.184502
       3    0.807706  0.072960
G2     1    0.638787  0.329646
       2   -0.497104 -0.754070
       3   -0.943406  0.484752

In [46]:
df.loc['G2'].loc[2]['B'] #grab data from B,G2,2 sholud come from outside

-0.7540697010400628

In [47]:
df.loc['G1']

            A         B
Num
1   -0.134841  0.390528
2    0.166905  0.184502
3    0.807706  0.072960

In [48]:
df.xs('G1') #cross section same with above, for particular multi-index

            A         B
Num
1   -0.134841  0.390528
2    0.166905  0.184502
3    0.807706  0.072960

In [49]:
df.xs(['G1',1])

A   -0.134841
B    0.390528
Name: (G1, 1), dtype: float64

In [50]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.134841  0.390528
G2      0.638787  0.329646